---
# Only the main Sass file needs front matter (the dashes are enough)
---

/*

CONTENTS
========

1.	BASE
Reset and basic elements such as html, body and links.

2.	TYPOGRAPHY
Reusable titles and typographic classes like secondary, primary etc.

3.	MODULES
Menus, entries, slots etc.

4.	LAYOUT
Grids, grids, grids. And some inner divs for the content and positioning therein.

5.	UTILITIES
Helpers like hide and clearfix.

6.	PRINT
Because words should be printed.

*/



/*
1.	BASE
========
*/

@media screen, projection {

	html,
	body,
	ul,
	ol,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	fieldset,
	dd,
	figure,
	figcaption,
	main {
		margin: 0;
		padding: 0;
	}
	
	article,
	aside,
	dialog,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	nav,
	section,
	main {
		display: block;
	}
	
	body {
		font-size: 100%;
		line-height: 1.4;
		font-family: Lora, georgia, serif;
		background-color: #FFF;
		color: #333;
	}
	
	a {
		text-decoration: none;
	}

} /* End base query */


@media screen and (min-width: 900px) {

	body {
		font-size: 125%; 
	}
	
} /* End widescreen query */



/*
2.	TYPOGRAPHY
==============
*/

@media screen, projection {

	.title {
		font-size: 1.3333em;
		line-height: 1.2em;
		margin-bottom: 0.6em;
		font-family: 'Open Sans', 'Open Sans', 'Helvetica Neue', 'Nimbus Sans L', helvetica, arial, sans-serif;
		color: #000;
	}
	
	.subheading {
		font-size: 1em;
		padding-top: 0.8em;
		font-family: 'Open Sans', 'Helvetica Neue', 'Nimbus Sans L', helvetica, arial, sans-serif;
		letter-spacing: 0.1em;
		color: #888;
	}
	
	.logo {
		font-size: 1em;
		font-family: 'Open Sans', 'Helvetica Neue', 'Nimbus Sans L', helvetica, arial, sans-serif;
		margin-bottom: 0.6em;
		text-transform: uppercase;
	}
	
	.primary {
		font-size: 1.1667em;
		line-height: 1.2em;
		margin-bottom: 1.2em;
	}		
	
	.secondary {
		font-size: 0.875em;
		line-height: 1.3714em;
	}
	
	.amp {
		font-style: italic;
		font-family: 'URW Palladio L', Baskerville, Garamond, 'Palatino Linotype', Palatino, Times, 'PT Serif', serif;
	}
	
	.meta {
		color: #888;
		font-family: 'Open Sans', 'Helvetica Neue', 'Nimbus Sans L', helvetica, arial, sans-serif;
	}
	
} /* End base query */


@media screen and (min-width: 900px) {

	.logo {
		padding-bottom: 0.45em;
		margin-bottom: 0.55em;
		border-bottom: 1px dotted #888;
	}
	
	.title {
		margin-bottom: 0.4em;
		padding-bottom: 0.2em;
		border-bottom: 1px dotted #888;
	}	

} /* End widescreen query */



/*
3.	MODULES
===========
*/

@media screen, projection {

	.menu-main li {
		display: inline;
		margin-right: 1.5em;
	}
	
	.menu-secondary li {
		display: inline;
		margin-right: 1.5em;
	}
	
	.panel {
		padding: 0.8em;
		background-color: #F1F1F1;
	}
	
	.reversed {
		background-color: #333;
		color: #FFF;
		background-attachment: fixed;
		font-family: 'Open Sans', 'Helvetica Neue', 'Nimbus Sans L', helvetica, arial, sans-serif;
		text-transform: uppercase;
	}
	
		.reversed a:link,
		.reversed a:visited {
			color: #FFF;
		}
		
		.reversed a:hover,
		.reversed a:active,
		.reversed a:focus,
		.reversed a.active {
			color: #FCF400;
		}
	
	.entry {
		padding-bottom: 0.8em;
	}
	
		.entry a:link {
			color: #0000FF;
			border-bottom: 1px dotted #AFAFAF;
		}
		
		.entry a:visited {
			color: #336699;
			border-bottom: 1px dotted #AFAFAF;
		}
		
		.entry a:hover,
		.entry a:active,
		.entry a:focus {
			color: #0000FF;
			border-bottom: 1px dotted #0000FF;
		}
	
		.entry-header {
			padding-bottom: 1.4em;
		}
		
		.entry-content {
			padding-bottom: 0.4em;
			hyphens: auto;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
		}
		
		.entry-content p,
		.entry-content ul,
		.entry-content ol,
		.entry-content dd {
			margin-bottom: 0.8em;
			max-width: 32em;
		}
		
		.entry-content ul,
		.entry-content ol {
			margin-left: 1.25em;
		}
		
		.entry-content img {
			width: auto;
			max-width: 100% !important;
			height: auto;
			display: block;
			margin-bottom: 0.8em;
		}
		
		.entry-content blockquote {
			font-size: 0.875em;
			line-height: 1.3714;
			padding: 1.3714em 0 1.3714em 1.3714em;
		}
		
		.entry-content h2,
		.subheading {
			font-size: 1em;
			padding: 0.8em 0 0.4em 0;
			font-family: 'Open Sans', 'Helvetica Neue', 'Nimbus Sans L', helvetica, arial, sans-serif;
			color: #888;
		}
		
		.entry-content h3,
		.subsubheading {
			font-size: 0.875em;
			line-height: 1.3714;
			padding: 0.9143em 0 0.4571em 0;
			font-family: 'Open Sans', 'Helvetica Neue', 'Nimbus Sans L', helvetica, arial, sans-serif;
			color: #888;
		}
		
		.entry-content hr {
			border: none;
			border-top: 1px solid #CFCFCF;
			width: 38.197%;
			margin: 2.1em auto 1.4em auto;
		}
		
		.entry-content figcaption,
		.figcaption {
			padding-bottom: 1.6em;
			color: #888;
			font-size: 0.875em;
			line-height: 1.3714;
			font-family: 'Open Sans', 'Helvetica Neue', 'Nimbus Sans L', helvetica, arial, sans-serif;
		}
		
	.pagination {
		padding: 1.6em 0 0.8em 0;
	}
		
	.slot {
		padding-bottom: 1.6em;
	}
	
		.slot .title {
			border-bottom: none;
			padding-bottom: 0;
			font-style: normal;
		}
		
	.complex-list {
		margin-bottom: 1.6em !important;
		margin-left: 0 !important;
	}
		
	.complex-list li {
		list-style-type: none;
		margin-bottom: 0.8em;
	}
	
		.complex-list-info {
			color: #888;
		}
		
	.form-custom input[type="search"] {
		font-size: 100%;
		font-family: Lora, georgia, serif;
	}
		
	.table-custom {
		font-family: 'Open Sans', 'Helvetica Neue', 'Nimbus Sans L', helvetica, arial, sans-serif;
		margin-bottom: 1.6em;
	}
	
	.footnote {
		padding-top: 0.4em;
		font-size: 0.875em;
		line-height: 1.3714em;
	}
	
		.footnote p {
			margin-bottom: 0.6857em;
		}
		
		.footnote a:link {
			color: #0000FF;
			border-bottom: 1px dotted #AFAFAF;
		}
		
		.footnote a:visited {
			color: #336699;
			border-bottom: 1px dotted #AFAFAF;
		}
		
		.footnote a:hover,
		.footnote a:active,
		.footnote a:focus {
			color: #0000FF;
			border-bottom: 1px dotted #0000FF;
		}
		
	/* Styling for the search engine plugin. All classes begin st- */
	
	.st-result {
		border-bottom: 0 !important;
		margin-bottom: 0.8em !important;
		padding-bottom: 0.8em !important;
	}
	
	/* Style search engine summary (above search results list) */
	
	.st-search-summary {
		border: none !important;
		margin: 0 !important;
		padding-bottom: 0.8em !important;
	}
	
		.st-search-summary h2 {
			font-size: 1em !important;
			font-family: Lora, georgia, serif !important;
			padding: 1.6em 0 0 0 !important;
		}
		
		.st-query {
			font-style: normal !important;
			font-weight: bold !important;
			color: #333 !important;
		}
		
	
	/* Style search engine results headings the same as subsub headings. */
	
	.st-result-text h3 {
		font-size: 0.875em !important;
		line-height: 1.3714 !important;
		padding: 0.9143em 0 0.4571em 0 !important;
		font-family: 'Open Sans', 'Helvetica Neue', 'Nimbus Sans L', helvetica, arial, sans-serif !important;
		color: #888 !important;
	}
	
	/* Style search engine snippets. */
	
	.st-snippet {
		font-size: 1em !important;
	}
	
		.st-snippet em {
			font-style: normal !important;
			background-color: #FCF800 !important;
		}
		
	/* Style search engine pagination */
	
	.st-pagination {
		padding-top: 0.8em !important;
		border: none !important;
	}
		
			
} /* End base query */


@media screen and (min-width: 900px) {
	
	.menu-main li {
		display: block;
		margin-right: 0;
		padding: 0.2em 0;
		list-style-type: none;
	}
	
	.entry-content ul,
	.entry-content ol {
		margin-left: 0;
	}
	
	.complex-list li {
		overflow: hidden;
	}
	
	.complex-list-title,
	.complex-list-info {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	.complex-list-title {
		float: left;
		width: 61.803%;
	}
	
	.complex-list-info {
		float: right;
		text-align: right;
		padding-left: 0.7em;
		font-size: 0.875em;
		line-height: 1.6em;
	}
	
		.complex-list li:hover .complex-list-info {
			color: #333;
		}
		
	.form-input-wide {
		width: 70%;
	}

} /* End widescreen query */


@media screen and (min-width: 1200px) {
	
	.entry-content .bleed {
		margin-left: -3.2em;
		max-width: 35.2em !important;
	}
	
} /* End very widescreen query */



/*
4.	LAYOUT
==========
*/

@media screen, projection {

	.g {
		clear: both;
		overflow: hidden;
	}
	
	.g-content {
		padding: 1.2em;
	}
	
	.g-sidebar {
		border-top: 0.2em solid #FCF400;
	}
	
} /* End base query */


@media screen and (min-width: 900px) {

	.g-content {
		padding: 3.2em;
	}
	
	.g-col {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	.g-small {
		width: 38.197%;
	}
	
	.g-big {
		width: 61.803%;
	}
	
	.g-left {
		float: left;
	}
	
	.g-right {
		float: right;
	}
	
	.g-sidebar {
		top: 0;
		bottom: 0;
		left: 0;
		position: fixed;
		border-top: none;
		border-left: 0.4em solid #FCF400;
		box-shadow: 0.4em 0 0.4em #AFAFAF;
	}
	
} /* End widescreen query */



/*
5.	UTILITY CLASSES
===================
*/

@media screen, projection {

	.clearfix:before,
	.clearfix:after {
		content: "";
		display: block;
	}
	
	.clearfix:after {
		clear: both;
	}
	
	.clearfix {
		zoom: 1;
	}
	
	.hide {
		position: absolute !important;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
	}
	
} /* End base query */
