---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


// Variables

$main-font: 'Fira Sans', sans-serif;
$secondary-font: 'Fira Sans', sans-serif;

$black: #000;
$dark: #444;
$light: #FFF;
$highlight: #FF00A5;
$grey: #AAA;
$lgrey: #EFEFEF;
$link: #000;
$visited: #888;
$active: #AF0000;

$bp: "screen and (min-width: 780px)";
$wbp: "screen and (min-width: 880px)";


// Import partials from `sass_dir` (defaults to `_sass`)

@import
        "base",
        "layout",
		"modules",
		"grid",
		"print"
;
