---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


// Variables


// Fonts
$main-font: 'Source Sans Pro', ff-tisa-web-pro, georgia, serif;
$secondary-font: 'Source Serif Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 'Source Sans Pro', sans-serif;
$display-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 'Source Sans Pro', sans-serif;


// Size

$base-line-height: 1.45;
$single-line: 1.45em;
$line-and-a-half: ($single-line * 1.5);
$double-line: ($single-line * 2);
$treble-line: ($single-line * 3);
$quadruple-line: ($single-line * 4);
$three-quarter-line: ($single-line * 0.75);
$half-line: ($single-line / 2);
$quarter-line: ($single-line / 4);
$eighth-line: ($single-line / 8);
$base-font-size: 118.75%;
$widescreen-font-size: 125%;
$very-widescreen-font-size: 125%;
$max-page-width: 30em;
$grid-h-padding: $quadruple-line;
$grid-v-padding: $treble-line;
$bleed-width: ($max-page-width+$treble-line);


// Type scale (see http://type-scale.com/ minor third)

$size-1: 0.579em;
$size-2: 0.694em;
$size-3: 0.833em;
$size-4: 1em;
$size-5: 1.2em;
$size-6: 1.44em;
$size-7: 1.728em;
$size-8: 2.074em;


// Colours

$black: #000;
$dark: #444;
$light: #FFF;
$highlight: #444;
$grey: #AAA;
$lgrey: #F7F7F7;
$midgrey: #DFDFDF;
$link: #0068F9;
$visited: #7EB2FC;
$active: #F91800;
$hover: #0068F9;
$code: #FCDF02;
$background: #BCAEA9;

$nbp: "screen and (min-width: 700px)";
$bp: "screen and (min-width: 1040px)";
$wbp: "screen and (min-width: 1100px)";
$vwbp: "screen and (min-width: 1200px)";


// Import partials from `sass_dir` (defaults to `_sass`)

@import
    "base",
    "layout",
	"grid",
    "reusables",
    "logo",
    "inline-nav",
    "entry",
    "custom-form-table",
    "link-list",
    "heroic",
    "breadcrumb",
    "topbar",
    "bleed",
	"print",
    "search",
    "slot",
    "pill-nav"
;
