---
sitemap: false
---

@charset "utf-8";


// Fonts

$main-font: avenir, 'segoe ui', 'source sans pro', sans-serif;
$secondary-font: avenir, 'segoe ui', 'source sans pro', sans-serif;


// Size

$base-font-size: 118.75%;
$widescreen-font-size: 125%;

$nbp: "screen and (min-width: 960px)";


// Import partials from `sass_dir` (defaults to `_sass`)

@import
    "base",
    "custom-prose"
;
