<nav id="nav" class="cf mb4 mb5-ns pb2 bb b--light-gray">

    <p class="ma0 pa0 mr2 fl f5 b"><a class="link blue" href="/" rel="home">Home</a></p>

    <ul class="list ma0 pa0 fr f5 b">

    {% assign nav-pages = site.pages | sort: "nav-weight" %}

    {% for nav in nav-pages %}

        {% if nav.nav-weight %}

            <li class="di ml2"><a href="{{ nav.url }}" {% if nav.url == page.url %} class="link black"{% else %}class="link blue"{% endif %}>{{ nav.title }}</a></li>

        {% endif %}

    {% endfor %}

    </ul>

</nav>
