<nav id="nav" class="pa2 ph5-ns bt b--light-gray bb b--light-gray">

    <h1 class="dn">Navigation</h1>

    <ul class="ma0 pa0 list c-sans">

        <li class="di mr2 mr4-ns f6 ttu tracked"><a class="link {% if page.title == "Home" %}black{% else %}gray{% endif %}" href="/" rel="home">Home</a></li>

    {% assign nav-pages = site.pages | sort: "nav-weight" %}

    {% for nav in nav-pages %}

    {% if nav.nav-weight %}

        <li class="di mr2 mr4-ns f6 ttu tracked"><a href="{{ nav.url }}" {% if nav.url == page.url %} class="link black"{% else %}class="link gray"{% endif %}>{{ nav.title }}</a></li>

    {% endif %}

    {% endfor %}

    </ul>

</nav>
