<nav id="nav">

    <h1 class="f4 mb2 mb4-ns ttu tracked tc"><a href="/" class="gold">Leon Paternoster</a></h1>

    <p class="ma0 pa0 tc"><a href="/" class="link black"><img class="mw2 mw3-ns mb4-ns br-100" src="/images/lp.jpg" alt="Leon Paternoster"></a></p>

    <ul class="ma0 pa0 list ttu tracked tc sans-serif">

        <li class="dib db-ns mh2 mh0-ns mb3-ns tc-ns f6 f5-ns"><a class="link {% if page.title == "Managing and building websites since 2008" %}white{% else %}gold{% endif %}" href="/" rel="home">Home</a></li>

    {% assign nav-pages = site.pages | sort: "nav-weight" %}

    {% for nav in nav-pages %}

        {% if nav.nav-weight %}

            <li class="dib db-ns mh2 mh0-ns mb3-ns tc-ns f6 f5-ns"><a href="{{ nav.url }}" {% if nav.url == page.url %} class="link white"{% else %}class="link gold"{% endif %}>{{ nav.title }}</a></li>

        {% endif %}

    {% endfor %}

    </ul>

</nav>
