<article id="content" class="ph2 ph4-ns pv3-ns">

    <div class="c-measure center">

        <header class="pb3 bb b--light-gray">

            <h1 class="f3 mt4 mb0 c-lh-title c-sans-serif">{{ page.title }}</h1>

            {% if page.date %}<p class="c-sans-serif f6 mb0 gray"><time>{{ page.date | date: "%b %d, %Y" }}</time></p>{% endif %}

            {% if page.description and page.hide-description != true %}

            <p class="mb0">{{ page.description }}</p>

            {% endif %}

            {% if page.img %}

            <img src="/images/{{ page.img }}" alt="{{ page.alt }}" class="db mv3">

            {% endif %}

        </header>

        <div class="c-hyphens c-prose-h c-prose-link-colours c-prose-link-ul">

            {% if page.search %}

            <div class="pv2 pv3-ns">

                <form id="search_from" action="https://www.google.com/search" method="get">

                    <label class="c-sans-serif gray db mb1 f6 c-serif">Search leonpaternoster.com with Google. Results will appear on google.com:</label>
                    <input type="search" class="c-sans-serif mb1 mb0-ns w-100 w-75-ns pa2 ba b--moon-gray" id="q" name="q">
                    <input type="submit" value="Search" class="pointer c-sans-serif pa2 bg-light-gray hover-bg-near-white dark-gray ba b--moon-gray br2" alt="search" id="submitbtn">
                    <input name="sitesearch" value="leonpaternoster.com" type="hidden">

                </form>

            </div>

            {% endif %}

            {% if page.description %}<div class="c-first-line">{% endif %}

            {{ content }}

            {% if page.description %}</div>{% endif %}

        </div>

        {% if page.category %}

        <p class="f6">&#8212; <span class="gray">Filed under <a href="/blog/{{ page.category }}" class="dark-blue hover-dark-pink b">{{ page.category  | capitalize }}</a></span></p>

        {% endif %}

    </div>

</article>
