<article id="content" class="pv3 pv4-ns pv5-l">

    <header class="ph2 ph4-ns">

        <div class="c-measure center">

            <h1 class="f3 ma0 c-lh-title c-sans-serif">{{ page.title }}</h1>

            {% if page.date %}<p class="c-sans-serif f6 mt2 mb0 gray"><time>{{ page.date | date: "%b %d, %Y" }}</time></p>{% endif %}

            {% if page.description and page.hide-description != true %}

            <p class="mt2 mb0 b">{{ page.description }}</p>

            {% endif %}

            {% if page.img %}

            <img src="/images/{{ page.img }}" alt="{{ page.alt }}" class="db mt3">

            {% endif %}

        </div>

    </header>

    <div class="ph2 ph4-ns">

        <div class="c-measure center c-hyphens c-prose-h c-prose-link-colours c-prose-link-ul">

            {{ content }}

            {% if page.category %}

            <p class="f6 c-no-print c-sans-serif">&#8212; <span class="gray">Filed under <a href="/blog/{{ page.category }}" class="dark-blue hover-dark-pink b">{{ page.category  | capitalize }}</a></span></p>

            {% endif %}

        </div>

    </div>

</article>
