        </main> <!-- end #content -->

        <footer class="ma0 mb4 pt2 bt bw2 b--light-gray">

            <div class="measure">

            {% if site.biog %}

                    <h1 class="f5 pa0 ma0 mb2">About</h1>

                    <p class="f6 c-lh-copy c-hyphens">{{ site.biog }}</p>

                {% endif %}

                <ul class="list ma0 pa0 f6">

                    <li>Email: <strong class="c-secondary">leon.paternoster@zoho.com</strong></li>
                    <li>Twitter: <strong class="c-secondary"><a class="dark-blue hover-dark-red" href="https://twitter.com/leonpaternoster">@leonpaternoster</a></strong></li>
                    <li>LinkedIn: <strong class="c-secondary"><a class="dark-blue hover-dark-red" href="https://uk.linkedin.com/in/leonpaternoster">Profile</a></strong></li>

                </ul>

            </div>

        </footer>

    </body>

</html>
