<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.title != 'Leon Paternoster' %}

<title>{{ page.title | escape | strip_html }} ⚡️ {{ site.title | escape | strip_html }}</title>

{% else %}

<title>{{ site.title | escape | strip_html }}</title>

{% endif %}

{% if page.title  == 'Leon Paternoster' %}

<meta name="description" content="{{ site.description | strip_html | strip_newlines | truncate: 160 }}">

{% endif %}

{% if page.is_post %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@leonpaternoster" />
<meta name="twitter:title" content="{{ page.title }}" />
{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}" />
{% else %}
<meta name="twitter:description" content="{{ page.excerpt  | strip_html }}" />
{% endif %}
{% if page.img %}
<meta name="twitter:image" content="https://www.leonpaternoster.com/images/{{ page.img }}" />
<meta name="twitter:image:alt" content="{{ page.alt }}" />
{% endif %}

{% endif %}
