<article>

    <header class="bg-navy near-white ph2 ph4-ns ph5-l pv4 pv5-l">

        <div class="c-wrapper center">

            <h1 class="f7 f5-ns ma0 pa0 mb2 lh-title fw5 b-ns"><span role="img" aria-label="Lightning bolt">⚡️</span> {{ site.tagline }}</h1>

            <p class="f3 f1-ns mt0 b measure-narrow lh-title">{{ site.description }}</p>

            <p class="mb0">{% include button.html text="Find out more &rarr;" border-color="moon-gray" color="dark-gray" bg-color="light-gray" hover-bg-color="washed-blue" hover-color="dark-gray" url="/about/" %}</a></p>

        </div>

    </header>
