<article>

    <header class="bg-washed-blue ph2 ph4-ns ph5-l pv4 pv5-l">

        <div class="c-wrapper center">

            <h1 class="f7 f5-ns ma0 pa0 mb2 lh-title fw5 b-ns"><span role="img" aria-label="Lightning bolt">⚡️</span> Leon Paternoster. Web services manager.</h1>

            <p class="f3 f1-ns mt0 b measure-narrow lh-title">I build and manage fast, economical web &amp; IT services for Suffolk Libraries. They&#8217;re innovative too.</p>

            <p class="mb0"><a href="/about" class="ba b--white br2 white bg-dark-blue pv2 ph3 hover-bg-dark-pink hover-white">Find out more &rarr;</a></p>

        </div>

    </header>
