<!doctype html>

<html lang="en-gb"{% if page.is_post %} profile="http://dublincore.org/documents/2008/08/04/dc-html/"{% endif %}>

    <head>

        {% include /header/header-meta.html %}

        {% include /header/header-links.html %}

    </head>

    <body class="bg-near-white dark-gray serif lh-copy pb2 pb4-l">

        {% include /header/skip-links.html %}

        <nav id="nav" class="bg-dark-gray pa2 pv3 mb3-ns mb5-l bb b--light-gray cf">

            <h1 class="bt bn-ns b--light-gray ma0 pa0 f6 lh-copy fl-ns mr3-ns dib-ns"><a class="light-silver db di-ns pv1 c-hover-white" href="/" rel="home">{{ site.title }}</a></h1>

            <ul class="ma0 pa0 list sans-serif b cf f6 fr-ns tr-ns">

            {% assign nav-pages = site.pages | sort: "nav-weight" %}

            {% for nav in nav-pages %}

            {% if nav.nav-weight %}

                <li class="bt bn-ns b--light-gray ma0 dib-ns ml3-ns"><a href="{{ nav.url }}" {% if nav.url == page.url %} class="white db di-ns pv1 c-hover-white"{% else %}class="light-silver db di-ns pv1 c-hover-white"{% endif %}>{{ nav.title }}</a></li>

            {% endif %}

            {% endfor %}

            </ul>

        </nav>

        <main id="content">
