<nav id="nav" class="f6 f5-ns cf mb3 mb5-ns">

    <h1 class="dn">Navigation</h1>

    <span class="fl b dib mr3 mr4-ns ma0"><a{% if page.title == 'Leon Paternoster' %} class="black"{% endif %} href="/">Home</a></span>

    <ul class="fr tr ma0 pa0 list">

        <li class="b dib mr3 mr4-ns"><a{% if page.title == 'About' %} class="black"{% endif %} href="/about">About</a></li>
        <li class="b dib"><a{% if page.title == 'Blog' %} class="black"{% endif %} href="/blog">Blog</a></li>

    </ul>

</nav>
