<nav id="nav" class="f6 f5-ns mb2 mb5-ns">

    <h1 class="dn">Navigation</h1>

    <ul class="list ma0 pa0 mb2">

        <li class="dib mr3 mr4-ns"><a class="{% if page.title == 'Leon Paternoster' %}bb bw2-ns{% endif %}" href="/">Home</a></li>
        <li class="dib mr3 mr4-ns"><a class="{% if page.title == 'About' %}bb bw2-ns{% endif %}" href="/about">About</a></li>
        <li class="dib"><a class="{% if page.title == 'Blog' %}bb bw2-ns{% endif %}" href="/blog">Blog</a></li>

    </ul>

</nav>
