<aside class="dtc-l w-third-l pa2 pa4-ns v-top-ns">

    <div class="bt b--moon-gray pt3 bn-l pt0-l">

        {% unless page.title == 'About' %}

        <article class="pb3">

            <h1 class="f5 mb1 ttu tracked">About</h1>

            <p class="ma0 f6">I&#8217;m Leon, digital manager at Suffolk Libraries. I blog about HTML, CSS, design, managing websites, writing, UX, politics and books.</p>

        </article>

        {% endunless %}

        <article class="pb3 c-prose-link-colours">

            <h1 class="f5 mb1 ttu tracked">Contact</h1>

            <ul class="list ma0 pa0 f6">

                <li class="pv1">leon.paternoster@zoho.com</li>
                <li class="pv1"><a href="https://twitter.com/leonpaternoster">Twitter</a></li>
                <li class="pv1"><a href="https://uk.linkedin.com/in/leonpaternoster">LinkedIn</a></li>

        </article>

        {% if page.title == "Blog" %}

        <article class="pb3 c-prose-link-colours">

            <h1 class="f5 mb1 ttu tracked">Categories</h1>

            <ul class="list ma0 pa0 f6">

                <li class="pv1"><a href="/blog/web/">Web</a></li>
                <li class="pv1"><a href="/blog/libraries/">Libraries</a></li>
                <li class="pv1"><a href="/blog/work/">Case studies</a></li>

            </ul>

        </article>

        {% endif %}

    </div>

</aside>
