@media screen, projection {

.banner-header {
	padding: 1.5em 0;
	margin-bottom: 1.5em;
	text-align: center;
	
	@media #{$bp} {
		padding: 3em 0 1.5em 0;
	}
}

.banner-header a {
	padding: 0 0.75em;
}

.banner-header li:after {
	content: '\00B7';
}

.banner-header li:last-child:after {
	content: '';
}

.banner-header a:link,
.banner-header a:visited {
	color: $link;
}

.banner-header a:hover,
.banner-header a:active,
.banner-header a:focus,
.banner-header a.active {
	color: $base-colour;;
	text-decoration: none;
}

.banner-header-title {
	font-size: 1em;
	display: inline;	
	font-family: $secondary-font;
	font-weight: normal;
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: 2px;
}

}