@media screen, projection {

.banner-header {
	padding-bottom: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
}

.banner-header a {
	padding: 0.25em 0.75em;
}

.banner-header a:link,
.banner-header a:visited {
	color: $grey;
}

.banner-header a:hover,
.banner-header a:active,
.banner-header a:focus,
.banner-header a.active {
	background-color: $base-colour;
	color: #FFF;
	text-decoration: none;
}

.banner-header-title {
	font-size: 1em;
	display: inline;	
	font-family: $secondary-font;
	font-weight: normal;
	text-transform: lowercase;
	font-variant: small-caps;
}

}