@media screen, projection {

body,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset,
dd,
figure,
figcaption,
main {
	margin:  0;
	padding: 0;
}

article,
aside,
dialog,
figure,
figcaption,
footer,
header,
hgroup,
nav,
section,
main {
	display: block;
}

html {
	background-color: $light;
}

body {
	font-size: 100%;
	line-height: 1.4; /* 28px at widescreen */
	font-family: $main-font;
	color: $dark;
	border-top: 0.2em solid $highlight;

	@media #{$nbp} {
		font-size: 137.5%;
		line-height: 1.455em;
		max-width: 40.2em;
		margin: 1.455em auto;
		border: 1px solid $lgrey;
		border-radius: 0.25em;
	}

}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
	font-family: $secondary-font;
	color: $active;
	font-weight: 700;
}

code {
	color: $highlight;
}

pre {
	overflow: auto;
	display: block;
	margin-bottom: 1.4em;
	padding: 0.75em;
	background-color: $dark;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: $link;
}

a:hover,
a:active,
a:focus {
	color: $hover;
}

a img {
	border: none;
	color: #FFF;
}

}
