@media screen, projection {

body {
    font-size: 100%;

    @media (min-width: 40em) {
		font-size: 112.5%;
	}

    font-family: $primary-font;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
    font-family: $secondary-font;
}


}
