@media screen, projection {

    .entry-content .bleed {

        @media #{$wbp} {
            width: auto;
            max-width: 40.2em !important;
            height: auto !important;
            margin-left: -5.6em;
            border-right: 0;
            border-left: 0;
        }

    }

}
