@media screen, projection {

.c-alda {
    font-family: alda, georgia, serif;
}

.c-charter {
    font-family: charter, 'ITC charter', 'Bitstream Charter', georgia, serif;
}

.c-dashed-list li:before {
    content: '- ';
}

.c-sc {
    text-transform: lowercase;
    letter-spacing: 0.1em;
    font-variant: small-caps;
}

.c-hyphens {
    hyphens: auto;
    -webkit-hyphens: auto;
}

.c-aim-gray {
    color: #666;
}

.c-prose-link-colours a:link {
  color: #00449E;
}

.c-prose-link-colours a:visited {
  color: #357EDD;
}

.c-prose-link-colours a:hover,
.c-prose-link-colours a:active,
.c-prose-link-colours a:focus {
  color: #D5008F;
}

.c-prose-link-ul a {
  border-bottom: 1px dotted;
}

.c-prose-h h1,
.c-prose-h h2,
.c-prose-h h3,
.c-prose-h h4,
.c-prose-h h5,
.c-prose-h h6,
.c-prose-h dt {
    line-height: 1.2;
    color: #666;
    margin: 0;
    padding: 1rem 0 0 0;
    font-size: 1.25rem;
    font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.c-prose-h h3,
.c-prose-h dt {
    font-size: 1rem;
}

.c-prose-h h4,
.c-prose-h h5,
.c-prose-h h6 {
    font-size: 0.875rem;
}

}
