@media screen, projection {

.c-serif {
    font-family: $serif;
}

.c-sans-serif {
    font-family: $sans-serif;
}

.c-hyphens {
    hyphens: auto;
    -webkit-hyphens: auto;
}

.c-mw {
    max-width: 40em;
}

.c-measure {
    max-width: 28em;
}

.c-prose-link-colours a {
    border-bottom: 1px dotted;
}

.c-prose-link-colours a:link {
    color: #00449E;
}

.c-prose-link-colours a:visited {
    color: #408BC9;
}

.c-prose-link-colours a:hover,
.c-prose-link-colours a:active,
.c-prose-link-colours a:focus {
    color: #D5008F;
}

}
