@media screen, projection {

html {

    font-size: 106.75%;

    @media screen and (min-width: 800px), projection and (min-width: 800px) {
        font-size: 118.5%;
    }

}

a {
    text-decoration: none;
}

a:hover {
    color: #D5008F; /* Dark pink */
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
}

abbr {
    cursor: help;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.05em;
}

hr {
    border: none;
    border-top: 1px solid #EFEFEF; // Tachyons moon gray
    width: 50%;
    display: block;
    margin: 1rem auto;
}

thead {
    text-align: left;
    border-bottom: 1px solid #CCC;
}

th {
    padding: 0 0.5rem;
}

td {
    padding: 0.25rem 0.5rem;
}

blockquote {
    margin-left: 2rem;
    font-size: 0.875em;
    padding: 0.5rem 0;
}

code {
    font-size: 0.875em;
}

}
