@media screen, projection {

html {
    font-size: 106.75%;
}

@media (min-width: 48em) {
  html {
    font-size: 112.5%;
  }
}

@media (min-width: 64em) {
  html {
    font-size: 118.75%;
  }
}

.c-prose-h h1,
.c-prose-h h2,
.c-prose-h h3,
.c-prose-h h4,
.c-prose-h dt {
    font-family: $sans-serif;
    margin-bottom: 0.5rem;
    text-align: center;
    line-height: 1.2;
}

.c-prose-h h1,
.c-prose-h h2 {
    font-size: 1.25rem;
}

.c-prose-h h3,
.c-prose-h h4 {
    font-size: 1rem;
}

.c-prose-h h1 + *,
.c-prose-h h2 + *,
.c-prose-h h3 + *,
.c-prose-h h4 + *,
.c-prose-h dt + * {
    margin-top: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #D5008F; /* Dark pink */
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
}

abbr {
    cursor: help;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.05em;
}

hr {
    border: none;
    border-top: 1px solid #EFEFEF; // Tachyons moon gray
    width: 50%;
    display: block;
    margin: 1rem auto;
}

table {
    max-width: 24em;
    hyphens: none;
    -webkit-hyphens: none;
}

thead {
    text-align: left;
    border-bottom: 1px solid #CCC;
}

th {
    padding: 0 0.5rem;
}

td {
    padding: 0.25rem 0.5rem;
}

blockquote {
    margin-left: 2rem;
    font-size: 0.875em;
    padding: 0.5rem 0;
}

code {
    font-size: 0.75em;
}

pre {
    overflow: auto;
}

}
