/*

This is a custom grid module.
All classes prepended 'c-'.
Simple 2, 3 or 4 columns with 5% margins.

Tachyons breakpoints:
- not-small (ns): @media screen and (min-width: 48em)
- medium (m): @media screen and (min-width: 48em) and (max-width: 64em)
- large (l): @media screen and (min-width: 64em)

CONTENTS
========

1. Up to 6 cols, equal widths

*/

@media screen, projection {


/*
1. Up to 6 cols, equal widths
=============================
*/

/*
Grid container class
*/

.c-dg {
    display: grid;
}

.c-dg-ns {
    @media screen and (min-width: 48em) {
        display: grid;
    }
}

.c-dg-m {
    @media screen and (min-width: 48em) and (max-width: 64em) {
        display: grid;
    }
}

.c-dg-l {
    @media screen and (min-width: 64em) {
        display: grid;
    }
}


/*
Grid column gaps
Currently set to 1 rem, but could add more classes to match Tachyons spacing scale
*/

.c-gcg {
    grid-column-gap: 1rem;
}

.c-gcg-ns {
    @media screen and (min-width: 48em) {
        grid-column-gap: 1rem
    }
}

.c-gcg-m {
    @media screen and (min-width: 48em) and (max-width: 64em) {
        grid-column-gap: 1rem
    }
}

.c-gcg-l {
    @media screen and (min-width: 64em) {
        grid-column-gap: 1rem
    }
}


/*
Grid columns
*/

.c-gtc-2 {
    grid-template-columns: repeat(2, 1fr);
}

.c-gtc-2-ns {
    @media screen and (min-width: 48em) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.c-gtc-2-m {
    @media screen and (min-width: 48em) and (max-width: 64em) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.c-gtc-2-l {
    @media screen and (min-width: 64em) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.c-gtc-3 {
    grid-template-columns: repeat(3, 1fr);
}

.c-gtc-3-ns {
    @media screen and (min-width: 48em) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.c-gtc-3-m {
    @media screen and (min-width: 48em) and (max-width: 64em) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.c-gtc-3-l {
    @media screen and (min-width: 64em) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.c-gtc-4 {
    grid-template-columns: repeat(4, 1fr);
}

.c-gtc-4-ns {
    @media screen and (min-width: 48em) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.c-gtc-4-m {
    @media screen and (min-width: 48em) and (max-width: 64em) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.c-gtc-4-l {
    @media screen and (min-width: 64em) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.c-gtc-5 {
    grid-template-columns: repeat(5, 1fr);
}

.c-gtc-5-ns {
    @media screen and (min-width: 48em) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.c-gtc-5-m {
    @media screen and (min-width: 48em) and (max-width: 64em) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.c-gtc-5-l {
    @media screen and (min-width: 64em) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.c-gtc-6 {
    grid-template-columns: repeat(6, 1fr);
}

.c-gtc-6-ns {
    @media screen and (min-width: 48em) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.c-gtc-6-m {
    @media screen and (min-width: 48em) and (max-width: 64em) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.c-gtc-6-l {
    @media screen and (min-width: 64em) {
        grid-template-columns: repeat(6, 1fr);
    }
}


/*
2. Thirds grid, option for 1 of 3 or 2 of 3
*/

.c-gtc-1-2 {
    grid-template-columns: 1fr 2fr;
}

.c-gtc-1-2-ns {
    @media screen and (min-width: 48em) {
        grid-template-columns: 1fr 2fr;
    }
}

.c-gtc-1-2-m {
    @media screen and (min-width: 48em) and (max-width: 64em) {
        grid-template-columns: 1fr 2fr;
    }
}

.c-gtc-1-2-l {
    @media screen and (min-width: 64em) {
        grid-template-columns: 1fr 2fr;
    }
}

.c-gtc-2-1 {
    grid-template-columns: 2fr 1fr;
}

.c-gtc-2-1-ns {
    @media screen and (min-width: 48em) {
        grid-template-columns: 2fr 1fr;
    }
}

.c-gtc-2-1-m {
    @media screen and (min-width: 48em) and (max-width: 64em) {
        grid-template-columns: 2fr 1fr;
    }
}

.c-gtc-2-1-l {
    @media screen and (min-width: 64em) {
        grid-template-columns: 2fr 1fr;
    }
}


}
