@media screen, projection {

.custom-work {
    font-family: "Work Sans", sans-serif;
}

.custom-prose {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
	}

.custom-prose h1,
.custom-prose h2,
.custom-prose h3,
.custom-prose h4,
.custom-prose h5,
.custom-prose h6 {
    margin: 0;
    padding: 1.5rem 0 0.25rem 0;
    line-height: 1.3;
}

.custom-prose h1,
.custom-prose h2 {
    font-size: 1.5rem;
}

.custom-prose h3 {
    font-size: 1.25rem;
}

.custom-prose h4 {
    font-size: 1rem;
    font-weight: normal;
}

.custom-prose a:link {
    color: #357EDD; // Tachyons blue
    border-bottom: 1px dotted;
}

.custom-prose a:visited {
    color: #777; // Tachyons gray
    border-bottom: 1px dotted;
}

.custom-prose a:hover,
.custom-prose a:active,
.custom-prose a:focus {
    color: #357EDD; // Tachyons blue
    border-bottom: 1px solid;
}

.custom-prose figure {
    margin-bottom: 1rem;
}

.custom-prose figcaption,
.custom-prose .figcaption {
    line-height: 1.3em;
    padding: 0 1rem;
    text-align: center;
    font-size: 0.875rem;
    font-family: "Work Sans", sans-serif;
}

.custom-prose blockquote {
    margin: 0 0 0 2rem;
    padding: 1rem 0;
    font-size: 0.875em;
}

.custom-prose pre {
    overflow: auto;
}

.custom-prose code {
    font-size: 0.875em;
}

.custom-prose hr {
    border: none;
    border-top: 1px solid #CCC; // Tachyons moon gray
    width: 50%;
    margin: auto;
}

.custom-prose thead {
    text-align: left;
    border-bottom: 1px solid #CCC;
    font-family: "Work Sans", sans-serif;
}

.custom-prose th {
    padding: 0 0.5rem;
}

.custom-prose td {
    padding: 0.25rem 0.5rem;
    background-color: #EEE; // Moon gray
    font-family: "Work Sans", sans-serif;
}

.custom-prose img {
    border: 1px solid #EEE; // Light gray
    width: auto;
    height: auto;
    max-width: auto;
}

.vid,
.constrain {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.vid iframe,
.vid object,
.vid embed,
.constrain iframe,
.constrain object,
.constrain embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

}
