@media screen, projection {

.custom-prose {
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

.custom-prose a {
    border-bottom: 1px dotted;
}

.custom-prose h1,
.custom-prose h2,
.custom-prose h3,
.custom-prose h4,
.custom-prose dt {
    margin: 0;
    line-height: $lh-title;
    padding-top: 1rem;
}

.custom-prose h1,
.custom-prose h2 {
    font-size: 1.25rem;
}

.custom-prose h3 {
    font-size: 1rem;
}

}
