// Tachyons colours

$black: #111;
$near-black: #111;
$dark-gray:#333;
$mid-gray:#555;
$gray: #777;
$silver: #999;
$light-silver: #AAA;
$moon-gray: #CCC;
$light-gray: #EEE;
$near-white: #F4F4F4;
$white: #FFF;


// Custom colours

$base-colour: #0074D9;
$accent-colour: #EB2915;
$link: $base-colour;
$visited: #4395D8;
$hover: $accent-colour;


// Variables

$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$serif: charter, 'Roboto Slab', 'Noto Serif', cambria, 'Liberation Serif', georgia, serif;
$lh-title: 1.2;
$lh-copy: 1.45;
$breakpoint: 36em;
