@media screen, projection {

body {
    font-size: 106.75%;

    @media (min-width: $breakpoint) {
        font-size: 118.5%;
    }

}

a {
    text-decoration: none;
}

a:link {
    color: $link;
}

a:visited {
    color: $visited;
}

a:hover,
a:active,
a:focus {
    color: $hover;
}

a.black {
    color: #000;
}

a.custom-bg-base-colour-link {
    color: #FFF !important;
}

hr {
    border: none;
    border-top: 1px dotted #CCC;
    width: 33%;
    margin: 1rem auto 2rem auto;
}

code {
    font-size: 87.5%;
}

blockquote {
    color: $gray;
}

img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
}

abbr {
    cursor: help;
}

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption,
.figcaption {
    line-height: $lh-title;
    font-size: 1rem;
    color: #999;
}

figcaption p {
    margin-top: 0;
}


}
