@media screen, projection {

    .custom-form {
        margin-bottom: $single-line;
    }

    .custom-form fieldset {
        border: 0;
    }

    .custom-form input {
        font-family: $main-font;
        font-size: 1em;
        border: 1px solid $midgrey;
        padding: $quarter-line;
        -webkit-appearance: none;
        font-family: $secondary-font;
    }

    .custom-form input[type="search"] {
    	margin-bottom: $quarter-line;

    	@media #{$bp} {
    		width: 75%;
    	}

    }

    .custom-form-button {
        cursor: pointer;
        background-color: $midgrey;
        color: $dark;
        -moz-box-shadow:    inset 0 0 $half-line $lgrey;
        -webkit-box-shadow: inset 0 0 $half-line $lgrey;
        box-shadow:         inset 0 0 $half-line $lgrey;
    }

    .table-custom {
    	margin-bottom: $single-line;
    }


}
