@media screen, projection {

.custom-prose {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
	}

.custom-prose a:link {
        color: #00449E; // Tachyons dark blue
        border-bottom: 1px dotted;
    }

.custom-prose a:visited {
        color: #357EDD; // Tachyons blue
        border-bottom: 1px dotted;
    }

.custom-prose a:hover,
.custom-prose a:active,
.custom-prose a:focus {
        color: #E7040F; // Tachyons dark red
        border-bottom: 1px solid;
    }

.c-lh-copy {
    line-height: 1.5;
}

.custom-bg-arch {
    background-image: url('/images/arch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.c-sans {
    font-family: $secondary-font;
}

.c-small-caps {
    text-transform: lowercase;
    letter-spacing: 0.1em;
    font-variant: small-caps;
}

/*
Odd Tachyons error.
Published bg-yellow is FFFCEB.
Current is darker.
Also, https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css
is actually 4.5.3
*/

.c-bg-washed-yellow {
    background-color: #FFFCEB;
}





}
