@media screen, projection {

    .entry-header {
    	margin-bottom: $single-line;
    }

    .entry-title {
    	font-size: 2em;
    	line-height: 1.2em;
    }

    .entry-meta {
    	margin: $half-line 0 $single-line 0;
    }

    .entry-meta-excerpt {
        margin: 0 0 $quarter-line 0 !important;
    }

    .entry-content {
    	padding-bottom: $single-line;
    }

    .entry-content a:link {
    	color: $link;
        border-bottom: 1px dotted $grey;
    }

    .entry-content a:visited {
    	color: $visited;
        border-bottom: 1px dotted $grey;
    }

    .entry-content a:hover,
    .entry-content a:active,
    .entry-content a:focus {
    	color: $hover;
        border-bottom: 1px dotted $hover;
    }

    .entry-content a.imglink {
    	border: none;
    	color: #FFF;
    }

    .entry-content p,
    .entry-content ul,
    .entry-content ol,
    .entry-content dd {
    	margin-bottom: $half-line;
    	hyphens: auto;
    	-moz-hyphens: auto;
    }

    .entry-content li {
    	margin-left: 1.25em;

    	@media #{$bp} {
    		margin-left: 0;
    	}
    }

    .entry-content blockquote {
    	margin-left: $single-line;
    	line-height: 1.2em;
    }

    .entry-content h1,
    .entry-content h2,
    .entry-content h3,
    .entry-content h4,
    .entry-content dt {
    	font-size: 1em;
    	line-height: 1.2em;
    	padding: $single-line 0 $half-line 0;
        color: $grey;
        font-size: 1.5em;
    }

    .entry-content h3,
    .entry-content dt {
        font-size: 1.333em;
    }

    .entry-content h4 {
        font-size: 1.167em;
    }

    .entry-footer {
        padding: $half-line;

        @media #{$bp} {
            padding: $half-line $double-line;
        }

    }

    .entry-content hr,
    #footer hr {
    	width: 33%;
    	margin: 0 auto $half-line auto;
    	padding-top: $single-line;
    	border: none;
    	border-bottom: 1px dotted $grey;
    }

    .entry-content img {
    	width: auto !important;
    	max-width: 100% !important;
    	height: auto !important;
    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
        border: 1px $lgrey solid;
        display: block;
        margin-bottom: $quarter-line;
    }


    .figcaption {
    	padding-bottom: $half-line;
    	color: $grey;
    }

    .entry-excerpt {
        padding: 0 0 $line-and-a-half 0;
    }

    .entry-content .entry-title-excerpt {
        padding: 0 0 $quarter-line 0 !important;
        font-size: 1.167em;
    }

    .entry-content .entry-title-excerpt a {
        border-bottom: none;
    }

}
