@media screen, projection {

    .entry-header {
    	margin-bottom: $single-line;
      padding-bottom: $half-line;
      text-align: center;
    }

    .entry-title {
    	font-size: $size-7;
    }

    .entry-meta {
    	padding-top: $half-line;
    }

    .entry-content {
    	padding-bottom: $single-line;
      hyphens: auto;
      -moz-hyphens: auto;
    }

    .entry-content a:link {
    	color: $link;
        border-bottom: 1px dotted $grey;
    }

    .entry-content a:visited {
    	color: $visited;
        border-bottom: 1px dotted $grey;
    }

    .entry-content a:hover,
    .entry-content a:active,
    .entry-content a:focus {
    	color: $hover;
        border-bottom: 1px dotted $hover;
    }

    .entry-content a.imglink {
    	border: none;
    	color: #FFF;
    }

    .entry-content p,
    .entry-content ul,
    .entry-content ol,
    .entry-content dd {
    	margin-bottom: $half-line;
    	hyphens: auto;
    	-moz-hyphens: auto;
    }

    .entry-content li {
    	margin-left: 1.25em;

    	@media #{$bp} {
    		margin-left: 0;
    	}
    }

    .entry-content blockquote {
      font-size: $size-3;
    	margin: $single-line 0 $single-line $single-line;
    	padding-left: $half-line;
      border-left: $quarter-line solid $lgrey;
    }

    .entry-content h1,
    .entry-content h2,
    .entry-content h3,
    .entry-content h4,
    .entry-content dt {
    	font-size: $size-4;
    	padding: $single-line 0 $half-line 0;
      text-align: center;
    }

    .entry-content h1,
    .entry-content h2 {
        font-size: $size-5;
    }

    .entry-content h3,
    .entry-content dt {
        font-size: $size-4;
    }

    .entry-content h4 {
        font-size: $size-4;
        font-weight: normal;
        font-style: italic;
    }

    .entry-footer {
        padding: $half-line 0;
    }

    .entry-content hr,
    #footer hr {
    	width: 33%;
    	margin: 0 auto $half-line auto;
    	padding-top: $single-line;
    	border: none;
    	border-bottom: 1px dotted $grey;
    }

    .entry-content img {
    	width: auto !important;
    	max-width: 100% !important;
    	height: auto !important;
    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
        border: 1px $lgrey solid;
        display: block;
        margin-bottom: $quarter-line;
    }


    .figcaption {
    	padding-bottom: $half-line;
    	color: $grey;
        font-family: $secondary-font;
    }


}
