@media screen, projection {

    .global-nav li {
    	display: inline;
    	margin: 0 0.75em;
        font-size: 0.875em;
    	font-family: $secondary-font;
    	font-weight: normal;
    	text-transform: lowercase;
    	font-variant: small-caps;
    }


}
