@media screen, projection {

	.g-row:before,
    .g-row:after {
    	content: "";
    	display: block;
    }

    .g-row:after {
    	clear: both;
    }

    .g-row {
    	zoom: 1;
    }

	.g-col-big {
		width: 68%;
	}

	.g-w-col-big {
		@media #{$bp} {
			width: 68%;
			padding: $grid-h-padding $grid-v-padding;
			-webkit-box-sizing: border-box;
	    	-moz-box-sizing: border-box;
	    	box-sizing: border-box;
		}
	}

	.g-col-small {
		width: 32%;
	}

	.g-w-col-small {
		@media #{$bp} {
			width: 32%;
			padding: $grid-h-padding $grid-v-padding;
			-webkit-box-sizing: border-box;
	    	-moz-box-sizing: border-box;
	    	box-sizing: border-box;
		}
	}

	.g-left {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 100%;
	}

	.g-w-left {
		@media #{$bp} {
			position: absolute;
			left: 0;
			bottom: 0;
			height: 100%;
		}
	}

	.g-right {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 100%;
	}

	.g-w-right {
		@media #{$bp} {
			position: absolute;
			right: 0;
			bottom: 0;
			height: 100%;
		}
	}

	.g-w-fixed {
		@media #{$bp} {
			position: fixed;
		}
	}

	.g-align-right {
		text-align: right;
	}

	.g-w-align-right {
		@media #{$bp} {
			text-align: right;
		}
	}

}
