@media screen, projection {

    .hero {
    	background-image: url('/images/sketch3.jpg');
    	background-size: cover;
    	background-repeat: no-repeat;
    	border-bottom: 1px solid $lgrey;
    	padding: 1.273em 0;
    }

    .hero-title {
    	text-shadow: 1px 1px 1px #FFF;
    	margin-bottom: 0.333em;
    }

    .hero-content {
    	padding: 1.273em 1.273em 0.545em 1.273em;
    	background-color: $light;
    	opacity: 0.95;
    }

    .hero-content p {
    	margin-bottom: 0.727em;
    }

}
