@media screen, projection {

    .inline-nav-item {
    	display: inline;
    	margin-right: 1.333em;
    }

    .align-right .inline-nav-item {
        margin-right: 0;
        margin-left: 1.333em;
    }

    .g-w-align-right .inline-nav-item {

        @media #{$bp} {
            margin-right: 0;
            margin-left: 1.333em;
        }
        
    }

}
