@media screen, projection {

    .inline-nav-item {
    	display: inline;
    	margin-right: $single-line;
    }

    .align-right .inline-nav-item {
        margin-right: 0;
        margin-left: $single-line;
    }

    .g-w-align-right .inline-nav-item {

        @media #{$bp} {
            margin-right: 0;
            margin-left: $single-line;
        }

    }

}
