@media screen, projection {

    .inline-nav-item {
    	display: inline;
    	margin-right: $single-line;
    }

    .text-right .inline-nav-item {
        margin-right: 0;
        margin-left: $single-line;
    }

}
