@media screen, projection {


.wrapper {
	max-width: 30em !important;
	padding: 0 1.273em;

	@media #{$bp} {
		padding: 0 5.6em;
	}

	margin: 0 auto;
}

.wrapper.page {
	padding: 1.273em;
	background-color: $light;

	@media #{$bp} {
		padding: 2.545em 5.6em 1.273em 5.6em;
		margin-bottom: 1.273em;
		border: none;
	}

}

#banner {
	padding: 0.909em 0;
	font-family: $secondary-font;
	font-weight: bold;
	text-transform: uppercase;
	background-color: $light;
	border-bottom: 1px solid $lgrey;

	@media #{$bp} {
	}

}

#banner a:link,
#banner a:visited {
	color: $grey;
}

#banner a:hover,
#banner a:active,
#banner a:focus,
#banner a.active {
	color: $dark;
}


#footer {
	padding: 1.273em 0;
	border-top: 1px solid $lgrey;
}


}
