@media screen, projection {


.wrapper {
	max-width: 30em;
	padding: 0 1.4em;
	margin: 0 auto;
}

#banner {
	padding: 1em 0;
	background-color: $black;
	margin-bottom: 2em;
	font-family: $main-font;
	
	@media #{$bp} {
		margin-bottom: 4em;
	}
}


}
