@media screen, projection {


.wrapper {
	max-width: 29em;
	padding: 0 1.4em;

	@media #{$bp} {
		padding: 0 5.6em;
	}

	margin: 0 auto;
}

.wrapper.page {
	padding: 1.4em;

	@media #{$bp} {
		padding: 2.8em 5.6em 1.4em 5.6em;
		margin-bottom: 1.4em;
		border: none;
		background-color: $light;
	}

}

#banner {
	padding: 1em 0;
	font-family: $secondary-font;
	font-weight: bold;
	text-transform: uppercase;
	background-color: $dark;
	border-bottom: 1px solid $hover;

	@media #{$bp} {
	}

}

#banner a:link,
#banner a:visited {
	color: $light;
}

#banner a:hover,
#banner a:active,
#banner a:focus,
#banner a.active {
	color: $hover;
}


#footer {
	padding-bottom: 1.4em;
	font-style: italic;
}


}
