@media screen, projection {

    .link-list-item,
    .link-list li {
        margin-bottom: $quarter-line;
        font-family: $secondary-font;
    }

    .link-list-item-meta {
        font-family: $main-font;
    }

}
