@media screen, projection {

    .link-list {
    	padding-bottom: 0.727em;
    }

    .link-list-item {
    	margin-bottom: 0.727em;
    	list-style-type: none;
    	margin-left: 0 !important;
    }

}
