@media screen, projection {

    .link-list-item,
    .link-list li {
        margin-bottom: $three-quarter-line;
        font-family: $secondary-font;
        list-style-type: none;
        margin-left: 0;
        line-height: $heading-line-height;
        padding-top: $quarter-line;
    }

    .link-list-item-meta {
        display: block;
        font-size: $size-3;
        color: $grey;
        font-family: $main-font;
        margin-top: $eighth-line;
    }

}
