@media screen, projection {

	.logo {
		height: auto;
		width: auto;
		max-height: $single-line;
		vertical-align: middle;
		border-radius: 50%;
		border: $eighth-line solid $link;

		@media #{$bp} {
			max-height: $double-line;
			margin-bottom: $single-line;
		}

	}

	.logo:hover {
		border: $eighth-line solid $highlight;
	}

}
