@media screen, projection {

.nav-item {
	display: inline;
	text-transform: uppercase;
	list-style-type: none;
	letter-spacing: 1px;
	
	@media #{$bp} {
		font-size: 0.875em;
	}
}

.nav {
	padding: 1em 0;
	margin-bottom: 1em;
	text-align: center;
	font-family: $secondary-font;
	font-weight: 300;
	
	@media #{$bp} {
		padding: 1.5em 0 0 0;
		margin-bottom: 0;
	}
}

.nav a {
	padding: 0 0.75em;
}

.nav li:after {
	content: '\00B7';
}

.nav li:last-child:after {
	content: '';
}

.nav a:link,
.nav a:visited {
	color: $link;
}

.nav a:hover,
.nav a:active,
.nav a:focus,
.nav a.active {
	color: $base-colour;;
	text-decoration: none;
}

.nav-title {
	font-size: 1em;
	display: inline;	
	font-family: $secondary-font;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

}