@media screen, projection {

    .pill-nav a {
        background-color: $lgrey;
        padding: $quarter-line $half-line;
        border-radius: $eighth-line;
        text-decoration: none !important;
        font-size: $size-3;
        font-family: $secondary-font;
        color: $link;
    }

    .pill-nav a:hover,
    .pill-nav a:active,
    .pill-nav a:focus {
        color: $highlight !important;
    }

}
