@media print {

* {
	background: #FFF;
	color: #000;
}

html {
	font-size: 118.5%;
	line-height: 1.2;
	font-family: sans-serif;
}

#header,
#footer {
	display: none;
}

.secondary,
.figcaption {
	color: $grey;
}

}
