@media print {

* {
	background: #FFF;
	color: #000;
}

html {
	font-size: 118.5%;
	line-height: 1.2;
	font-family: calluna, times, 'times new roman', georgia, serif;
}

.nav,
.hide,
.info-footer,
.entry-content img {
	display: none;
}

.secondary,
.figcaption {
	color: $grey;
}

.entry-content hr {
	color: $lgrey;
	border: none;
	border-top: 1px solid $lgrey;
	width: 25%;
	margin: 1.5em auto;
}
  
}