@media print {

* {
	background: #FFF;
	color: #000;
}

html {
	font-size: 118.5%;
	line-height: 1.2;
	font-family: $main-font, sans-serif;
}

.nav,
#banner,
.hide,
.info-footer,
.entry-footer,
#footer {
	display: none;
}

.entry-footer time.published {
    display: block !important;
}

.secondary,
.figcaption {
	color: $grey;
}

.entry-content hr {
	color: $lgrey;
	border: none;
	border-top: 1px solid $lgrey;
	width: 25%;
	margin: 1.5em auto;
}

}
