@media screen, projection {

.search-form {
	margin-bottom: 0.75em;
}

.search-form-label {
	font-size: 0.875em;
	line-height: 1.143em;
	margin-bottom: 0.286em !important; /* My specificity in .entry-content bad */
}

.search-form-search,
.search-form-submit {
	font-family: $main-font;
	font-size: 1em;
	padding: 0.25em;
	border-radius: 0;
	border: 1px solid $lgrey;
}

.search-form-search {
		width: 70%;
	}

.search-form-submit {
	cursor: pointer;
	background-color: $link;
	color: #FFF;
}

}
