@media screen, projection {

.slot {
    padding-bottom: $line-and-a-half;
}

.slot-meta {
  margin-bottom: $quarter-line;
}

.entry-content .slot-title {
    padding: 0;
}

.entry-content .slot-title a {
    border-bottom: none;
}

.entry-content .slot-title {
    font-size: $size-5;
}

.entry-content .slot p {
    margin-bottom: 0;
}



}
