@media screen, projection {

    .top-bar {
        padding: $half-line 0;

        @media #{$bp} {
            background-color: $light;
    	}

        background-color: $light;
        color: $dark;
        border-bottom: 1px solid $lgrey;
    }

    .top-bar a:link,
    .top-bar a:visited {
        color: $dark;
        background-color: $light;
        padding: $quarter-line;
    }

    .top-bar a:hover,
    .top-bar a:active,
    .top-bar a:focus,
    .inline-nav-item-current {
        color: $hover;
    }

    .top-bar-nav {

        text-transform: uppercase;
        font-weight: bold;

        @media #{$bp} {
            padding-top: $treble-line;
            text-align: center;
        }

    }

    .top-bar-nav li {

        @media #{$bp} {
            display: block;
            margin-bottom: $single-line;
        }

    }

    .top-bar-form,
    .top-bar-form fieldset {
        font-size: $size-4;
        margin-bottom: $line-and-a-half;
    }

    .top-bar-form input[type='search'] {

        @media #{$bp} {

            width: 25em;

        }

    }

}
