@media screen, projection {

    .top-bar {
        padding: $half-line;

        @media #{$bp} {
            padding: $single-line $double-line;
    		margin-bottom: $double-line;
    	}

        background-color: $dark;
        color: $light;
    }

    .top-bar a:link,
    .top-bar a:visited {
        color: $link;
    }

    .top-bar a:hover,
    .top-bar a:active,
    .top-bar a:focus,
    .inline-nav-item-current {
        color: $link;
        border-bottom: $eighth-line solid;
    }

    .top-bar-nav {
        margin-bottom: $half-line;
    }

    .top-bar-title {
        font-family: $display-font;
        color: $light;
        line-height: 1em;
        text-shadow: 1px 1px 1px $highlight;
    }

}
