@media screen, projection {

    .top-bar {
        color: $dark;
        margin-bottom: $single-line;
        padding: $half-line 0;
        position: relative;
        font-family: $secondary-font !important;
        font-weight: 700;
        letter-spacing: 1px;

        @media #{$bp} {
            padding: 0;
            text-align: center;
        }

    }

    .top-bar a {
        color: $link;
        padding: $quarter-line 0;

        @media #{$bp} {
            padding: 0;
        }

    }

    .top-bar-current,
    .top-bar a:hover {
        text-decoration: none;
        color: $highlight !important;
    }

    .top-bar li {
        list-style-type: none;
        display: inline;
        margin-right: $single-line;
        text-transform: lowercase;
        font-variant: small-caps;

        @media #{$bp} {
            font-size: $size-3;
            display: block;
            margin-right: 0;
            margin-bottom: $eighth-line;
        }

    }

}
