---
layout: default
title: Blog
description: Since 2008.
cache: true
nav-weight: 6
---

{% for post in site.posts %}

	{% unless post.article or post.case_study %}

		{% assign currentdate = post.date | date: "%Y" %}

		{% if currentdate != date %}

			{% unless forloop.first %}</ul>{% endunless %}

			<h2 class="f4 ma0 pa0 mb3 sans-serif" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>

			<ul class="ma0 pa0 mv2 mt0 mb4-l list sans-serif">

			{% assign date = currentdate %}

		{% endif %}

			{% include link-list-item.html %}

		{% if forloop.last %}</ul>{% endif %}

	{% endunless %}

{% endfor %}
