---
layout: listing
title: Blog
cache: true
nav: true
nav-order: 2
search: true
---

<div class="pb2 pb3-ns">

	{% assign web_posts = site.posts | where: "category", "web" %}
	{% assign library_posts = site.posts | where: "category", "libraries" %}
	{% assign work_posts = site.posts | where: "category", "work" %}
	{% assign posts = web_posts | concat: library_posts | concat: work_posts | sort: 'date' | reverse %}

	{% for post in posts %}

		{% assign currentdate = post.date | date: "%Y" %}

		{% if currentdate != date %}

			{% unless forloop.first %}</ul>{% endunless %}

			<h2 class="f6 lh-title sans-serif mt4 mb2 gray normal ttl small-caps tracked" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>

			<ul class="ma0 mb3 mb4-ns pa0 list sans-serif bb b--light-gray">

			{% assign date = currentdate %}

		{% endif %}

			{% include link-list-item.html %}

		{% if forloop.last %}</ul>{% endif %}

	{% endfor %}

</div>
