$primary-font: charter, 'Noto Serif', georgia, 'Noto Serif', 'Droid Serif', 'Roboto Slab', cambria, serif;
$secondary-font: 'avenir next', avenir, Roboto, 'segoe ui', sans-serif;

@media screen, projection {

body {
    font-size: 106.75%;

    @media (min-width: 40em) {
		font-size: 143.75%;
	}

    font-family: $primary-font;
}

a {
    text-decoration: none;
}

img {
    width: auto;
    max-width: 100% !important;
    height: auto !important;
}

figure {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
    font-family: $secondary-font;
    text-align: center;
}

p {
    margin: 0 0 0.75em 0; // Half custom-lh-copy for bottom margin
}

abbr {
    cursor: help;
}

}
