---
layout: default
hide-title: yes
---

{% for post in site.categories[page.category] %}

    {% assign currentdate = post.date | date: "%Y" %}

    {% if currentdate != date %}

		{% unless forloop.first %}</ul>{% endunless %}

        <h2 class="f4 ma0 pa0 mb3 sans-serif" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>

		<ul class="ma0 pa0 mv2 mt0 mb4-l list f6">

		{% assign date = currentdate %}

    {% endif %}

    {% include link-list-item.html %}

        {% if forloop.last %}</ul>{% endif %}

{% endfor %}
