---
layout: default
hide-title: yes
---

{% for post in site.categories[page.category] %}

    {% assign currentdate = post.date | date: "%Y" %}

    {% if currentdate != date %}

		{% unless forloop.first %}</ul>{% endunless %}

        <h2 class="ma0 pa0 pv2 pt4 f3" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>

		<ul class="mb3 ml0 pl0 list">

		{% assign date = currentdate %}

    {% endif %}

    {% include link-list-item.html %}

        {% if forloop.last %}</ul>{% endif %}

{% endfor %}
