{% include header.html %}

<article>

    <header class="mb3 mb4-ns">

        <h1 class="{% include article-title.html %}">{% if page.display-title %}{{ page.display-title }}{% else %}{{ page.title }}{% endif %}</h1>

        {% if page.is_post %}

        <p class="gray"><time>{{ page.date | date: "%b %-d,  %Y" }}</time> &middot; filed under <a href="/blog/{{ page.category }}/">{{ page.category }}</a>

        {% endif %}

    </header>

    {% if page.is_post %}<div class="c-visited-links">{% endif %}

        {{ content }}

    {% if page.is_post %}</div>{% endif %}

</article>

{% include footer.html %}
