{% include header.html %}

	<div class="hero">

		<div class="wrapper">

			<div class="entry-header">

				<h1 class="hero-title entry-title">Leon Paternoster</h1>

			</div>

			<div class="entry-content">

				<p>Web and customer service manager. Occasional designer of websites for local businesses. Writes articles about working on the web.</p>

				<p>Email <strong>leon.paternoster@zoho.com</strong>  &middot; <strong><a href="https://twitter.com/leonpaternoster">@leonpaternoster</a></strong></p>

			</div>

		</div>

	</div>

{% include footer.html %}
