{% include header.html %}

<article class="entry">

	<div class="entry-header">
	
		<h1 class="entry-title">About</h1>

	</div>

	<div class="entry-content">
	
		<div class="g-row">
		
			<div class="g-w-col1 g-w-left">
			
				<p><img src="images/leon2.jpg" alt="Leon Paternoster" class="img-round centre"></p>
				
			</div>
			
			<div class="g-w-col2 g-w-left g-w-last">
			
				<p class="primary">I manage the <a href="http://suffolklibraries.co.uk">Suffolk Libraries</a>&#8217; website and its customer service team. I also get small businesses online. Contact me on <a href="http://twitter.com/leonpaternoster">Twitter</a> or email <em>leon.paternoster@unseen.is</em></p>
				
			</div>
			
		</div> <!-- end .g-row -->
		
		<hr>
	
		<p>(I also blog my own thoughts on the web, politics, music and various other things.)</p>
	
		{{ content }}
		
	</div> <!-- end .entry-content -->
	
</article>

{% include footer.html %}
