{% include header.html %}

<article id="content" class="pv3 pv4-ns pv5-l">

    <header class="ph2 ph4-ns mb4">

        <div class="c-measure center">

            <h1 class="f3 ma0 c-lh-title c-sans-serif">{{ page.title }}</h1>

            {% if page.search %}

            <div class="pt3 c-no-print">

                <form id="search_from" action="https://www.google.com/search" method="get">

                    <label class="c-sans-serif gray db mb1 f6 c-serif lh-title">Search leonpaternoster.com with Google. Results will appear on google.com:</label>
                    <input type="search" class="c-sans-serif mb1 mb0-ns w-100 w-75-ns pa2 ba b--moon-gray" id="q" name="q">
                    <input type="submit" value="Search" class="pointer c-sans-serif pa2 bg-light-gray hover-bg-near-white dark-gray ba b--moon-gray br2" alt="search" id="submitbtn">
                    <input name="sitesearch" value="leonpaternoster.com" type="hidden">

                </form>

            </div>

            {% endif %}

        </div>

    </header>

    <div class="ph2 ph4-ns">

        <div class="c-measure center c-hyphens pb2 pb3-ns">

        	<ul class="ma0 mb3 mb4-ns pa0 list">

        	{% for post in paginator.posts %}

        		{% include link-list-item.html %}

        	{% endfor %}

        	</ul>

        	{% if paginator.total_pages > 1 %}

        		<div class="cf c-sans-serif">

        		{% if paginator.previous_page %}
        			<p class="ma0 w-40 fr tr"><a class="no-underline dark-blue hover-dark-red" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer posts &rarr;</a></p>
        		{% endif %}

        		{% if paginator.next_page %}
        			<p class="ma0 w-40 fl"><a class="no-underline dark-blue hover-dark-red" href="{{ paginator.next_page_path | prepend: site.baseurl }}">&larr; Older posts</a></p>
        		{% endif %}

                </div>

        	{% endif %}

        </div>

    </div>

</article>

{% include footer.html %}
