{% include header.html %}
				
	<header class="entry-header">

		{% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
		
		<p class="meta secondary">{{ page.date | date: "%b %-d, %Y" }}</p>

	</header>

	<div class="entry-content">

		{{ content }}
	
	</div>
	
	<footer class="entry-meta meta footnote">
	
		{% capture words %}
			{{ page.content | number_of_words }}
		{% endcapture %}
		
		<ul class="menu-secondary">
								
			<li>{{ words }} words</li>
			<li><a href="/feed">RSS feed</a></li>
			<li><a href="/archive">Archive</a></li>
		
		</ul>
					
		<div class="pagination clearfix">
		
			{% if page.next %}
		
				<p class="next">Next: <a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
		
			{% endif %}
		
			{% if page.previous %}
		
				<p class="previous">Previous: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
		
			{% endif %}
			
		</div>
		
	</footer>
	
{% include footer.html %}
