{% include header.html %}

	<article class="entry">
				
		<header class="entry-header">

			{% if page.title %}<h1 class="entry-title">{{ page.title }}</h1>{% endif %}
			
			<p class="entry-meta secondary note">{{ page.date | date: "%b %-d, %Y" }}</p>

		</header>

		<div class="entry-content">
	
			{{ content }}
		
		</div>
		
		<footer class="entry-footer secondary">
		
			{% capture words %}
				{{ page.content | number_of_words | minus: 250 }}
			{% endcapture %}
			<p>
			{% unless words contains "-" %}			
				This article contains {{ words | plus: 250 }} words&thinsp;&#8211;&thinsp;I'm keeping count. Enjoyed how I combined them?  			
			{% endunless %}
			Take a look through <a href="/archive">the archive</a>.</p>
			
		</footer>

	
	</article>
	
{% include footer.html %}