{% include header.html %}

<article class="entry">

	{% if page.title %}
				
		<header class="entry-header">

			<h1 class="entry-title">{{ page.title }}</h1>

		</header>
		
	{% endif %}

	<div class="entry-content">
	
		<p class="big">If you're a small businesses or not for profit I can set you up on the web, or improve your current website. I provide a range of services, from consultancy to coding and hosting.</p>
		
		<p>Email me at <strong>leon . paternoster @ unseen . is</strong> (without spaces) for more information.</p>
		
		<h2><a href="http://suffolklibraries.co.uk">Suffolk Libraries</a></h2>
		
		<div class="g-row clearfix">
		
			<div class="g-left g-col1">
			
				<div class="media">
				
					<a class="media-image-link" href="http://suffolklibraries.co.uk">
			
						<img
				
							class="media-image"
							src="https://dl.dropboxusercontent.com/u/6144461/assets/images/suffolk-libraries-website.jpg"
							height="260"
							width="400"
							alt="The entrance to Ipswich County Library"
					
						>
						
					</a>
				
				</div>
				
			</div>
			
			<div class="g-left g-col2 g-last">
			
				<p>I researched top customer tasks and information architecture. I also built the responsive website (with WordPress) and set up hosting.</p>
				
			</div>
			
		</div>
		
		<h2><a href="http://cultcafe.co.uk">Cult cafe</a></h2>
		
		<div class="g-row clearfix">
		
			<div class="g-left g-col1">
			
				<div class="media">
				
					<a class="media-image-link" href="http://cultcafe.co.uk">
			
						<img
				
							class="media-image"
							src="https://dl.dropboxusercontent.com/u/6144461/assets/images/cult-cafe.jpg"
							alt="Interior of Cult Cafe, overlooking Ipswich docks"
							height="260"
							width="400"
					
						>
						
					</a>
					
				</div>
				
			</div>
			
			<div class="g-left g-col2 g-last">
			
				<p>I built a responsive website (with WordPress) for the popular cafe and venue on Ipswich's waterfornt. Includes upcoming events.</p>
				
			</div>
			
		</div>
		
		<h2><a href="http://allsortzgroup.co.uk">Allsortz Theatre Group</a></h2>
		
		<div class="g-row clearfix">
		
			<div class="g-left g-col1">
			
				<div class="media">
				
					<a class="media-image-link" href="http://www.allsortzgroup.co.uk">
				
						<img
				
							class="media-image"
							src="https://dl.dropboxusercontent.com/u/6144461/assets/images/allsortz.jpg"
							alt="Music workshop"
							height="260"
							width="400"
					
						>
						
					</a>
					
				</div>
				
			</div>
			
			<div class="g-left g-col2 g-last">
			
				<p>I built and arranged free hosting for this responsive, one page website.</p>
				
			</div>
			
		</div>
		
	</div>
	
</article>

{% include footer.html %}
