---
layout: default
title: Articles
description: Curated posts on building, managing &amp; designing websites. Since 2008.
show: yes
---

{% for post in site.posts  %}

	{% if post.layout != 'redirect' %}

	    <article class="entry entry-excerpt">

	        <h1 class="entry-title entry-title-excerpt"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>

			<p class="secondary entry-meta entry-meta-excerpt">First published <time class="published">{{ post.date | date: "%b %-d %Y" }}</time></p>

			{{ post.excerpt }}

	    </article>

	{% endif %}

{% endfor %}
